/**
 * Default
 *
 * The avalanche_base_default package implements some basic default styles which
 * are adopted from the great [HTML5 Boilerplate](https://html5boilerplate.com/).<br />
 * avalanche doesn't rely on it's own CSS reset, instead it's built with
 * [normalize.css](https://necolas.github.io/normalize.css/) as a dependency.
 *
 * @level X.X.
 */
// A better looking default horizontal rule
hr {
  display: block;
  margin: 1em 0;
  padding: 0;
  height: 1px;
  border: 0;
  border-top: 1px solid $cs-grey-b;
}

// Remove the gap between audio, canvas, iframes,
// images, videos and the bottom of their containers:
// https://github.com/h5bp/html5-boilerplate/issues/440
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

// Remove default fieldset styles.
fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

// Allow only vertical resizing of textareas.
textarea {
  resize: vertical;
}

// Remove text-shadow in selection highlight:
// https://twitter.com/miketaylr/status/12228805301
::selection {
  background: $selection-background;
  color: $selection-color;
  text-shadow: none;
}
