/*---
title:   Default
name:    base_default
section: Base
---

Base styles, opinionated defaults.

The avalanchesass_base_default package implements some basic default styles
which are adopted from the great [HTML5 Boilerplate](https://html5boilerplate.com/).
avalanche doesn't rely on it's own CSS reset, instead it's built with
[normalize.css](https://necolas.github.io/normalize.css/) as a dependency.
*/
